:root {
    --background-accent: #009688;
    --background-main: #dadbd4;
    --contacts-background: #eaeaea;
    --light-gray: #fafafa;
    --notification-alert: #8edafc;
    --new-message: #f3eeea;
    --new-message-icons: #6b7376;
    --header-icons: #b1b1b1;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* img {
    width: 100%;
    height: auto;
} */

/* MAIN STRUCTURE */
#container {
    width: 100%;
    height: 100vh;
    background: var(--background-main);
    background: linear-gradient(0deg, var(--background-main) 85%, var(--background-accent) 85%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#app-container {
    width: 80%;
    min-width: 950px;
    max-width: 1500px;
    height: 95%;
    background-color: white;
    display: flex;
}

#contacts-list {
    width: 40%;
    height: 100%;
    /* debug */
    background-color: lightblue;
}

#chat-container {
    width: 60%;
    height: 100%;
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* INTERNAL STRUCTURE */
/* common */
#my-profile,
#selected-contact {
    width: 100%;
    height: 80px;
    background-color: var(--contacts-background);
}

.header-avatar {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

.header-avatar span {
    margin: 0 1rem;
}

.circle-avatar {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    /* vertical-align: middle; */
}

.circle-avatar img {
    width: 100%;
    height: auto;
}

.header-icons {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: var(--header-icons);
}

.header-icons i {
    margin: 0 .5rem;
}

/* left side components */
#my-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#notifications-alert {
    width: 100%;
    height: 100px;
    background-color: var(--notification-alert);
}

#search-contacts {
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: var(--light-gray);
}

#search-contacts input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 5px;
}

/* right side components */
#selected-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#new-message-container {
    width: 100%;
    height: 80px;
    position: relative;
    left: 0;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--new-message);
}

#new-message-container span {
    width: 10%;
    text-align: center;
    font-size: 1.5rem;
    color: var(--new-message-icons);
}

#new-message-container input {
    width: 80%;
    height: 70%;
    border: none;
    border-radius: .3rem;
    padding: 1rem;
}