:root {
    /* Colors */
    --background-accent: #009688;
    --background-main: #dadbd4;
    --beige-background: #eaeaea;
    --notification-alert: #8edafc;
    --selected-contact: #e9ebeb;
    --light-gray: #fafafa;
    --new-message-icons: #6b7376;
    --header-icons: #b1b1b1;
    --text-grey: #a7a7a7;
    --sent-messages: #d5f9ba;
    
    /* Sizes */
    --app-left-column: 40%;
    --app-right-columns: calc(100% - var(--app-left-column));
    --app-header-heigth: 80px;
    --notification-alert-height: 100px;
    --searchbar-height: 50px;
    --new-message-height: 80px;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

/* COMMON */
.text-grey {
    color: var(--text-grey);
}

body {
    font-family: 'Lato', sans-serif;
}

i {
    cursor: pointer;
}

/* MAIN STRUCTURE */
#container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-main);
    background: linear-gradient(0deg, var(--background-main) 85%, var(--background-accent) 85%);
}

#app-container {
    min-width: 950px;
    width: 80%;
    max-width: 1500px;
    height: 95%;
    display: flex;
    background-color: white;
}

/* INTERNAL STRUCTURE */
/* common */
#my-profile,
#selected-contact {
    width: 100%;
    height: var(--app-header-heigth);
    background-color: var(--beige-background);
}

.circle-avatar {
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

.circle-avatar img,
.contact-avatar img {
    width: 100%;
    height: auto;
}

.header-icons {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: var(--header-icons);
}

.header-icons i {
    margin: 0 .5rem;
}

/* left side components */
#left-container {
    width: var(--app-left-column);
    height: 100%;
}

#my-avatar {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

#my-avatar span {
    margin: 0 1rem;
}

#my-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#notifications-alert {
    width: 100%;
    height: var(--notification-alert-height);
    display: flex;
    align-items: center;
    background-color: var(--notification-alert);
}

#notification-bell {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 2rem;
    font-size: 1.5rem;
    text-align: center;
    line-height: 60px;
    color: var(--notification-alert);
    background-color: white;
}

#notification-text span {
    margin: .5rem;
}

.underline {
    text-decoration: underline;
}

#search-contacts {
    width: 100%;
    height: var(--searchbar-height);
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: var(--light-gray);
}

#search-contacts div {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#search-contacts input {
    width: 90%;
    height: 100%;
    border: none;
    padding: 5px;
    outline: none;
}

/* left side components: contacts's list */
#contacts-list {
    width: 100%;
    height: calc(100% - var(--app-header-heigth) - var(--notification-alert-height) - var(--searchbar-height));
    overflow: auto;
}

.contact {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--beige-background);
    cursor: pointer;
}

.contact-avatar-info {
    display: flex;
    margin: 1rem;
}

.contact-name {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.time-received {
    margin: 1rem;
}

.contact-avatar {
    width: 70px;
    height: 70px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

.active-contact {
    background-color: var(--selected-contact);
}

.hide-contact {
    display: none;
}

/* right side components */
#right-container {
    width: var(--app-right-columns);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#selected-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-avatar {
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

#header-avatar-name {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

#chat-container {
    width: 100%;
    height: calc(100% - var(--app-header-heigth) - var(--new-message-height));
    background-image: url(../img/mine.jpg);
    padding: 3rem 5rem;
    overflow: auto;
}

#chat-container ul li {
    min-width: 33%;
    max-width: 60%;
    margin: 1rem;
    border-radius: 10px;
    padding: .5rem;
}

#chat-container ul {
    display: flex;
    flex-direction: column;
}

.chat-time {
    text-align: right;
    font-size: .7rem;
}

.sent {
    background-color: var(--sent-messages);
    align-self: flex-end;
}

.received {
    background-color: white;
    align-self: flex-start;
}

#new-message-container {
    width: 100%;
    height: var(--new-message-height);
    position: relative;
    left: 0;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--beige-background);
}

#new-message-container span {
    width: 10%;
    text-align: center;
    font-size: 1.5rem;
    color: var(--new-message-icons);
}

#new-message-container input {
    width: 80%;
    height: 70%;
    border: none;
    border-radius: .3rem;
    padding: 1rem;
}